.App {
  text-align: center;
  height: 80vh;
}


.rbc-time-view 
  .rbc-label {
  display: none;
  }
  .rbc-allday-cell {
  height: calc(100vh - 98px);
  max-height: unset;
  }
  .rbc-time-content {
  display: none;
  }


.rbc-current-time-indicator {
  display: none;
}
.rbc-time-column .rbc-timeslot-group{
  border-bottom: none;
}
.rbc-timeslot-group .rbc-time-slot{
  border-top: none;
}

.rbc-time-content{
  border-top:none;
}
