.App {
  text-align: center;
  height: 80vh;
}


.rbc-time-view 
  .rbc-label {
  display: none;
  }
  .rbc-allday-cell {
  height: calc(100vh - 98px);
  max-height: unset;
  }
  

.rbc-current-time-indicator {
  display: none;
}

.rbc-day-slot .rbc-timeslot-group{
  border-bottom: none;
}

.rbc-time-content .rbc-day-slot .rbc-time-slot{
  border-top: none;
}
.rbc-calendar .rbc-time-content{
  display: none;
  height: 0%;
}
.rbc-calendar .rbc-time-header{
  border-bottom:1px solid #DDD;
  height: 100%;
}
